.slds-form-element__label{
    font-size: large;
}
.logo{
    width: 40%;
    margin-left: 165px;
}

.bodySpan
{
    font-size: large;
}

.bodySpanDiv
{
    margin: 30px;

}

.modalTitle
{
    font-size: xx-large;
}

.bodySpanInput
{
    margin: 5px;
}