.THIS .slds-icon-utility-close{
    margin-top: -12px;
    margin-left: 24px;
}
.THIS .slds-button_reset{
    font-size: medium;
}

.THIS .phoneInsightAccordian
{
    font-size: medium;
}

.THIS .phoneInsightAccordianDiv
{
    margin: 30px;
}

.THIS .phoneInsightAccordianInput
{
    margin: 5px;
}

.THIS .headerH2
{
    font-size: xx-large;
}