.THIS.slds-accordion__summary-heading{
    display: flex;
            align-items: center;
            font-size: var(--lwc-varFontSize5,1rem);
            line-height: var(--lwc-lineHeightButton,1.875rem);
            border: var(--lwc-borderWidthThin,1px) solid transparent;
            border-radius: var(--lwc-borderRadiusMedium,0.25rem);
            background: var(--lwc-colorBackground,rgb(243, 242, 242));
}