.THIS {
    min-width: 50%;
    max-width: 100%;
    overflow:auto ;
    /* overflow: none !important; */
    /* height: 84vh; */
    /* min-height: 100%; */
}
.THIS .slds-form-element__icon {
    padding-top: 0px;
}
.THIS .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .THIS .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .THIS .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .THIS .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
.THIS .action{
    padding-left: 10px;
}
.THIS .checkbox{
    padding-left: 20px;
}
.THIS thead {
    background: lightgrey;
    font-size: large;
}
.THIS .slds-border_bottom {
    padding:1%;
    width:60%;
    margin:auto;
}
.THIS .toggle{
    padding-top: 5%;
    padding-left: 47%;
}
.THIS .buttonStyle{
    width: 200%;
}
.THIS .customClass{
    padding-left : 10%;
    padding-right : 10%;
    /* margin:2% 0% 2% 0%; */
   
}
.THIS .customClass1
{
    margin:3% 0% 3% 0%;
}

.THIS .slds-tabs_scoped__content {
    border-width: 0px;    
}
.THIS .customButtonClass{
    width: 100%;
}

.THIS .scheduleClass{
    margin-right : 10%;
}
.THIS .layoutClass{
    margin-left: 7%;
    margin-right: 10%;
}
.THIS .logo{
    width: 40%;
    margin-left: 165px;
}
.THIS .disabledInputFields{
    width: 91%;
}
.THIS .slds-form-element__label {
    font-size: inherit !important;   
    
}

.THIS.greenOnWhite svg {
    fill : yellow;
}
.THIS.greenOnWhite {
   background-color:white !important;
}

.THIS .slds-card__footer{
    border-top : none!important;
}

.THIS.pageHeader
{
    height:15%;
}


.THIS .slds-page-header
{
    width:100%;
    padding:2%;
    margin-bottom: 2%;
}

.THIS H1
{
    margin-top:3%;
}

/* .THIS .timeLayout
{
    width:50%;
} */

/* .THIS .timeDiv
{
    width:120%;
} */


.THIS .fileInput
{
    display: flex !important;
    margin-right: 5px;
}


/* remove the "or drop files" label from the right of the lightning:input type file */
.THIS .slds-file-selector__dropzone .slds-file-selector__text{
    display: none;
}

/* remove the "Upload Files" text from the button of the lightning:input type file */
.THIS .slds-file-selector__dropzone .slds-file-selector__button{
    font-size: 0;
}

/* insert the text "New Exam" into the button of the lightning:input type file */
.THIS .slds-file-selector__dropzone .slds-file-selector__button:after{
    content: 'Upload JSON';
    font-size: .8125rem;
    color: rgba(27, 82, 151, 1.0);
}



.THIS .slds-nav-vertical__item.slds-is-active .slds-nav-vertical__action
{
    text-decoration: none;
    font-weight:normal !important;
}
.THIS.exampleHolder{
    position: absolute;
    /* display: inline-block; */
    width: 80%;
    height: 90%;
}

.THIS .spinnerClass
{
    background-color: white;
}

.THIS .textDiv
{
    text-align: justify;
}

.THIS .textDiv h2
{
    font-size: medium;
    line-height: 2rem;
}

.THIS .textDiv p
{
    font-size: medium;
    line-height: 2rem;
}

.THIS .textDiv ul 
{
    list-style-type:disc;
    margin-bottom:2%;
    margin-left: 3%;
}

.THIS .textDiv ul li
{
    font-size: medium;
    line-height: 2rem;
}

.THIS .textDiv ol
{
    list-style-type: decimal;
    margin-left: 3%;
    margin-bottom:2%;

}

.THIS .olDiv 
{
    border-bottom: 1px solid grey;
}


.THIS .textDiv ol li
{
    margin-bottom: 1%;
}

.THIS .divP
{
    font-size: medium;
    line-height: 2rem;  
}

.THIS .contentDiv
{
    /* height: 500px; */
    overflow: auto;
}

.THIS .homeDiv
{
    line-height: 2rem;
}

.THIS .homeDiv h1
{
    color:red; font-size:20px;
}

.THIS .homeDiv p
{
    font-size: medium;
    line-height: 2rem;
    
}

.THIS .homeDivCon
{
    font-weight: bold; font-size:1000
}

.THIS .homeDiv b
{
    font-size: medium;
    line-height: 2rem;
}

.THIS .homeDiv span
{
    font-size: medium;
    /* line-height: 1rem; */
}

.THIS .homeDivSubHead
{
    font-weight: bold; font-size:1000
}

.THIS .homeSubDiv ul
{
    list-style-type: disc; margin-left:2%;
}

.THIS .verticalNavigation
{
    overflow-y: auto;
}

.THIS .confiToast
{
    height:1rem; position:absolute;top:-1.3rem;left:1rem;right:1rem
}

.THIS .confiToastDiv
{
    width:100%
}

.THIS .confiToastContent
{
    background-color: white; margin-right:3%;
}

.THIS .errorToast
{
    height:1rem; position:absolute;top:-1.3rem;left:1rem;right:1rem
}

.THIS .errorToastDiv
{
    width:100%;
}

.THIS .errorToastContent
{
    background-color: white; margin-right:3%;
}

.THIS .lCard
{
    width:100%; height:80vh;
}

.THIS .mLogo
{
    height: auto; width:calc(3.235rem * 3.5rem); margin:5%; max-width: 90% !important; ;
}


.THIS .pageHeader
{
    width:100%;
}

.THIS .scheduleJobDiv
{
    max-width: 100%; margin-left:35%
}

.THIS .jobTimeHeading
{
    text-align: center;font-size: large;
}

.THIS .jobTimeDetail
{
    position:relative; top:15%; left:2%;
}

.THIS .noJobTimeHeading
{
    text-align: center;font-size: large;
}

.THIS .abortH2
{
    font-size: xx-large;
}

.THIS .abortBody
{
    font-size: large;text-align:center
}

.THIS .abortBodySpan
{
    font-size: large;
}

.THIS .abortBodySpanDiv
{
    margin: 30px;
}

.THIS .abortDivInput
{
    margin: 5px;
}
.THIS .marginRightButton{
    margin-right: 2%;
}
.THIS .slds-modal__content:last-child{
    box-shadow: none !important;
}
/* .THIS .modigieModigieConfigurationPage .textDiv ul li {
    font-size: x-small !important;
    line-height: 0px !important;
} */