.logo{
    width: 40%;
    margin-left: 165px;
}

.slds-spinner_container {
    position: sticky;
    top: 50%;
}
.customClass{
    font-size: large !important;
}

.modalHeader
{
    font-size: xx-large;
}

.accordianSpan
{
    font-size: small;
}

.accordianDiv
{
    margin: 30px;
}

.accordianInput
{
    margin: 5px;
}

.apiInfo
{
    padding-bottom: 2%;padding-left: 2%;font-size: small;
}